/* <!-- Google font roboto --> */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: bisque;
  font-family: "roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* overflow: hidden; */
  /* margin: 0; */
}

.container {
  position: absolute;
  display: flex;
  width: 90vw;
}
.panel {
  display: flex;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 0.5rem;
  cursor: pointer;
  flex: 0.5;
  margin: 0.5rem;
  transition: flex 0.8s ease-in;
}

.panel h3 {
  color: black;
  font-family: cursive;
  font-size: 1.5rem;
  opacity: 0;
}

.panel.active {
  flex: 5;
  align-items: flex-end;
}

.panel.active h3 {
  opacity: 1;
  margin: auto, auto;
}

@media (max-width: 500px) {
  p.container {
    width: 100vw;
  }
  .panel {
    margin: 0.2rem;
  }

  .panel.active {
    flex: 4;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
